# Ignore the localonly directory
/localonly/

# Ignore all temporary files
*.tmp
*.tex
*.log

#Ignore all folders ending in _files
*_files/

# Ignore one specific file
Dissertation Proposal Presentation_Final.pptx

# Ignore sensitive information
secrets.json

# R specific
.Rproj.user
.Rhistory
.RData
.Ruserdata
